<html>
<body>

<h1> new site! </h1>

<h2> has succeded! </h2>

<font color="blue"> owner of this server: {{ owner }} <br>
Server Host nane: {{ ansible_hostname }} <br>
Server OS is: {{ ansible_os_family }} <br>
IP Adress: {{ ansible_default_ipv4.address }} <br>
It is role first


</body>
</html>
